* {
    font-family: cursive;
}
html{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
}
#navbar{
    z-index:2;
    background-image: linear-gradient(to bottom right,black,rgba(0, 0, 0, 0.815));
    top:1px;
    color:white;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 500px;
    align-items: center;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]+label:hover{
    cursor: pointer;
}
label{
    margin: 5px 50px;
}
.dash{border-radius: 20px;
    position: absolute;
    left: 220px;
    height:5px;
    top: 70px;
    width:50px;
    transition: 0.25s cubic-bezier(0.18,-0.1,0.8,1.6);
    background-color: white;
}
p#contactmep {
    width: 100px;
}

#About:checked~.dash{
    top: 70px;
    left: 189px;
}
#Projects:checked~.dash{
    width:65px;
    left: 336px;
}
#Acheivements:checked~.dash{
   
    left: 500px;
    width:100px;
}
#Contact:checked~.dash{
  
    left: 700px;
    width:90px;
}
.aboutsection{
    background-image: linear-gradient(to bottom right,black,rgba(0, 0, 0, 0.822));

}
#profile{
    border-radius: 100%;
    height:300px;
    

}
#imgbox{
  
    border-radius: 100%;
    height:320px;
    width:320px;
    background-color: white;
}
.imagesection{
  
    background-color: white;
    border-radius: 15px;
    padding:40px;
}
.aboutsection{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aboutcontent{
    height:280px;
    z-index: 1;
    transform-style: preserve-3d;
    background-color: white;
    border-radius: 15px;
    padding: 110px;
    margin:50px;
}
.iconwrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon{
    height:35px; 
    padding:10px 20px;
}
.icon:hover{
    cursor: pointer;
}
.githubico::before,.githubico::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    height:55px;
    width:55px;
    left:137px;
    top:550px;
    transition: linear 0.49s;

   
}
.githubico:hover::before{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(20deg);
    color: black;
    left:137px;
    top:550px;
    cursor: pointer;
}
.githubico:hover::after{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(-20deg);
    color: black;
    left:137px;
    top:550px;
    cursor: pointer;
}
.instaico::before,.instaico::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    height:55px;
    width:55px;
    left:212px;
    top:550px;
    transition: linear 0.49s;
   
}
.instaico:hover::before{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(20deg);
    color: rgb(221 44 109);
    left:212px;
    top:550px;
    cursor: pointer;
}
.instaico:hover::after{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(-20deg);
    color: rgb(84 88 203);
    left:212px;
    top:550px;
    cursor: pointer;
}
.LinkedInico::before,.LinkedInico::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    height:65px;
    width:65px;
    left:281px;
    top:545px;
    transition: linear 0.49s;
   
}
.LinkedInico:hover::before{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(20deg);
    color: rgb(0 123 182);
    left:281px;
    top:545px;
    cursor: pointer;
}
.LinkedInico:hover::after{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(-20deg);
    color: rgb(0 123 182);
    left:281px;
    top:545px;
    cursor: pointer;
}

.typewriter h1,.typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    width:230px;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 230px; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

  #navbar h1{
      margin-left: 10px;
  }
  
.aboutcontent h1,.aboutcontent p,.aboutcontent h3{
    transform: translateZ(20px)
  }
  .iconname{
     position: relative;
     top:-60px;
    left:0px;
    z-index: -5;
    color: rgba(255, 255, 240, 0);
    transition:cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.5s;
    
  }
  .l{
      left:10px;
  }
  a{text-decoration: none;}
 
.logosm:hover ~ p{
    z-index: 5;
    color: black;
      display:inline;
      top: 0px;
  }
  