* {
    font-family: cursive;
}
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
#navbar{
    width:100%;
    z-index:2;
    background-image: linear-gradient(to bottom right,black,rgba(0, 0, 0, 0.815));
    top:0;
    color:white;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}
.navsubstitute{
    height:77.5px;
    width:100%;
    background-image: linear-gradient(to bottom right,black,rgba(0, 0, 0, 0.815));
}
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 500px;
    align-items: center;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]+label:hover{
    cursor: pointer;
}
label{
    margin: 5px 50px;
}
.dash{border-radius: 20px;
    position: absolute;
    left: 220px;
    height:5px;
    top: 65px;
    width:50px;
    transition: 0.25s cubic-bezier(0.18,-0.1,0.8,1.6);
    background-color: white;
}
p#contactmep {
    width: 100px;
}

#About:checked~.dash{
   
    left: 265px;
}
#Projects:checked~.dash{
    width:65px;
    left: 540px;
}
#Skills:checked~.dash{
   
    left: 400px;
    width: 47px;
}
#Contact:checked~.dash{
  
    left: 695px;
    width:90px;
}
.aboutsection{
    /* background-image: linear-gradient(to bottom right,black,rgba(0, 0, 0, 0.822)); */
    background-color: black;

}
#profile{
    border-radius: 100%;
    height:300px;
    

}
#imgbox{
  
    border-radius: 100%;
    height:320px;
    width:320px;
    background-color: white;
}
.imagesection{
    margin: 50px;
    background-color: white;
    border-radius: 15px;
    padding:40px;
}
#AboutBox{
    display: flex; flex-direction: row;
}
.aboutsection{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:420px) {
    .skillbox{
        height:100%  !important;
        width:100% !important;
    }
    .skill{
        flex-direction: column !important;
    }
    .outerbar{
        width:100% !important;
    }
    .imagesection{
        margin: 5px;
        padding: 5px;
    }
    .aboutsection{
        padding:auto;
    display: flex;
    flex-direction: column;
    }
    #navbar{
        width:auto;
        display: none;
    }
    #navbar label p{
        
        display: none;
    }
    #AboutBox{
        display: flex;
        flex-direction: column;
    }
    .aboutcontent {
        height: auto;
        z-index: 1;
        transform-style: preserve-3d;
        background-color: rgb(114, 106, 106);
        border-radius: 15px;
        padding: 20px 10px 20px 10px !important;
        margin: 5px 0 5px 0 !important;
    }
    .navsubstitute{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        width:100%;
        color:white;
    }
    .tabs{
        display: none;
    }
    .LinkedInico::before,.LinkedInico::after,.githubico::before,.githubico::after,.instaico::before,.instaico::after{
        display: none;
    }
    .projects{
        width: 100% !important;
        height:100% !important;
    }
    .swiper-slide{
        width:100%;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        display: none;
    }
}
.aboutcontent{
    height:280px;
    z-index: 1;
    transform-style: preserve-3d;
    background-color: white;
    border-radius: 15px;
    padding: 110px;
    margin:50px;
}
.iconwrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon{
    height:35px; 
    padding:10px 20px;
}
.icon:hover{
    cursor: pointer;
}
.githubico::before,.githubico::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    height:55px;
    width:55px;
    left:185px;
    top:633px;
    transition: linear 0.49s;

   
}
.githubico:hover::before{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(20deg);
    color: black;
    left:185px;
    top:633px;
    cursor: pointer;
}
.githubico:hover::after{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(-20deg);
    color: black;
    left:185px;
    top:633px;
    cursor: pointer;
}
.instaico::before,.instaico::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    height:55px;
    width:55px;
    left:260px;
    top:633px;
    transition: linear 0.49s;
   
}
.instaico:hover::before{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(20deg);
    color: rgb(221 44 109);
    left:260px;
    top:633px;
    cursor: pointer;
}
.instaico:hover::after{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(-20deg);
    color: rgb(84 88 203);
    left:260px;
    top:633px;
    cursor: pointer;
}
.LinkedInico::before,.LinkedInico::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    height:65px;
    width:65px;
    left:330px;
    top:628px;
    transition: linear 0.49s;
   
}
.LinkedInico:hover::before{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(20deg);
    color: rgb(0 123 182);
    left:330px;
    top:628px;
    cursor: pointer;
}
.LinkedInico:hover::after{
    border-radius: 50%;
    border-left:4px solid;
    border-right:4px solid;
    transform: skewY(-20deg);
    color: rgb(0 123 182);
    left:330px;
    top:628px;
    cursor: pointer;
}

.typewriter h1,.typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    width:230px;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite,
      changefont 5s step-end infinite;
  }
  @keyframes changefont{
      0%{ font-family: 'Festive', cursive;}
      25%{ font-family: 'Fjalla One', sans-serif;}
      50%{ font-family: 'Otomanopee One', sans-serif;}
      75%{font-family: 'Tourney', cursive;}
      100%{ font-family: 'Zen Tokyo Zoo', cursive;}
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 230px; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

  #navbar h1{
      margin-left: 10px;
  }
  
.aboutcontent h1,.aboutcontent p,.aboutcontent h3{
    transform: translateZ(20px)
  }
  .iconname{
     position: relative;
     top:-60px;
    left:0px;
    z-index: -5;
    color: rgba(255, 255, 240, 0);
    transition:cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.5s;
    
  }
  .l{
      left:10px;
  }
  a{text-decoration: none;}
 
.logosm:hover ~ p{
    z-index: 5;
    color: black;
      display:inline;
      top: 0px;
  }

  .aboutheading{
     
      color: white;
      padding:10px;
  }
  .aboutheading h1{
    margin-left: auto;
  }
  .hr{
    display: block; height: 1px;
    width:1200px;;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
  }
  .projectsection{
      height:600px
  }
 #ctimg{
     height:300px;
 }
 .projects{
     height:500px;
     width:500px;
 }
 .achsection{
    height:500px;
    width:1349px;
    background-color: black;
 }
 .projectimg{
     cursor: pointer;
 }

.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plink{
    background-color: white;
    color: black;
    padding:10px 20px;
    border-radius: 20px;
    position: relative;
  
   
}
.plink:hover{
    box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #4aff0f, 0 0 0.1rem#4aff0f, 0 0 8rem #4aff0f, inset 0 0 0.3rem #4aff0f;

}
.skillbox{
  padding:40px;
    background-color: white;
    border-radius: 15px;
    height:300px;
    width: 700px;
    display: flex;
    flex-direction: column;
}
.skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.outerbar{
    width:500px;
    height:20px;
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.innerbar{
    margin-left: 2px;
    border-radius: 20px;
  
    height:15px;
    background-color: rgb(44, 255, 2);
    
}
.contactbox{
    padding:80px;
    background-color: white;
    border-radius: 20px;
}
input[type="text"],input[type="email"],textarea{
    height:40px;
    width:220px;
    margin:20px;
    border-radius: 20px;
    padding:5px;
    border:2px black solid;
    font-size: larger;
    outline: none;
}
.inputhead{
    margin:0;
    padding:0;
    user-select: none;
    position: relative;
    top: -55px;
    left: 30px;
    font-size: larger;
}

.inputhead:hover{
    cursor: text;
}
#submit{
    margin-left: 80px;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    cursor: pointer;
}
#submit:hover{
    border:4px solid rgb(1, 248, 13);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    
    background-image: url("./moon.png");
    background-size: contain;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;

    

  }
  input:checked + .slider::before {
    background-color: white;
    background-image: url("./sun.jpg");
    background-size: contain;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .whitenav{
    background-image: linear-gradient(to bottom right,white,white) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11) !important;
      color: black !important;
  }
  .blackdash{
      background-color: black;
  }
  .whiteabout{
      background-color: white !important;
      color: black !important;
  }
  .blackheading{
      color: black !important;
  }
  .blackimagesection{
      background-color: rgb(50 189 189 / 20%) !important;
  }
  .blackswiper{
      background: rgb(50 189 189 / 20%) !important;
  }